---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Login | Demo e-commerce">
  <section>
    <h1>Iniciar sesión</h1>
    <p>Formulario de login (por ahora solo visual).</p>
  </section>
</MainLayout>
