---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Carrito | Demo e-commerce">
  <section>
    <h1>Carrito de compras</h1>
    <p>Acá se mostrará el carrito con los productos seleccionados.</p>
  </section>
</MainLayout>
