---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Checkout | Demo e-commerce">
  <section>
    <h1>Checkout</h1>
    <p>Formulario de datos, envío y pago (por ahora demo).</p>
  </section>
</MainLayout>
