---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Mi cuenta | Demo e-commerce">
  <section>
    <h1>Mi cuenta</h1>
    <p>Resumen de la cuenta del usuario, pedidos, etc. (demo).</p>
  </section>
</MainLayout>