---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Productos | Demo e-commerce">
  <section>
    <h1>Listado de productos</h1>
    <p>Acá después vamos a mostrar el catálogo de productos.</p>
  </section>
</MainLayout>
