---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  {description && <meta name="description" content={description} />}
  <link rel="icon" href="/Logo/Logo2.png" />
</head>

<body class="min-h-screen bg-[#fdf8f6] text-zinc-900 flex flex-col">

  <Header />

  <main class="flex-1">
    <slot />
  </main>

  <Footer />

</body>
</html>
